Req.1  [+]  Поддержка одного, двух и трех экранов. Если х11 представляет их как один общий виртуальный экран (это лучше всего для широких окон) -- умение выделять в нем три группы тэгов в зависимости от текущего положения мыши
Req.2  [+]  Поддержка определения экранов с помощью расширения RandR
Req.3  [+]  Поддержка 10 тэгов на каждом физическом экране (mod+1..0 для переключения)
Req.4  [+]  Реализовать переключение тэгов
Req.5  [+]  Добавить поддержку переключения языков (setxkbmap)
Req.6  [+]  Умение выбирать предыдущий тэг при переключении на этот же
Req.7  [+]  Если экран один и окно одно, то не нужно показывать рамку
Req.8  [+]  Добавить хоткеи для переключения тэгов
Req.9  [+]  Умение перемещать окно на конкретный экран или на конкретный тэг (mod+shift+1..0, mod+shift+f1..f3)
Req.10 [+]  Функция максимизации окна на конкретном тэге конкретного физ. экрана (mod+m, у окошка исчезает frame, на тэге исчезает панель, окно ресайзится под размер экрана)
Req.11 [+]  Умение задать курсор, чтобы не было стандартного х11 крестика (xsetroot)
Req.12 [+]  Фокус следует за курсором
Req.13 [+]  Умение перекидывать курсор на заданный экран по хоткею
Req.14 [+]  Добавить хоткеи для переключения экранов
Req.15 [+]  Поддержка window urgency
Req.16 [+]  Добавить обработчик события urgency
Req.17 [+]  Нужна панелька, на которой будет время, статус wifi, индикатор языка, заголовок текущего окна (по центру), список тэгов с окнами, на которых подсвечены urgent
Req.18 [+]  Поддержка xft на панельке, чтобы шрифты были хорошими
Req.19 [+]  brightness, galculator, volume, media buttons
Req.20 [+]  Умение какое-то окошко делать floating по хоткею
Req.21 [+]  Умение запускать приложения по хоткеям
Req.22 [+]  Умение подбирать открытые окна
Req.23 [+]  Умение изменять размеры и положение floating окошек с помощью мышки
Req.24 [+]  Навигация по окнам с помощью vim-like хоткеев (hjkl в рамках физ. экрана)
Req.25 [+]  Умение изменять размеры tiled окошек/тайлов хотя бы если их 2 <= N <= 4 (change Layout weights)
Req.26 [+]  Поддержка запуска приложений на заданном тэге -- чтобы почтовик сам летел куда нужно
Req.27 [+]  Поддержка конфиг файла, в котором можно будет настраивать хоткеи и команды, которые их запускают; а также коды цветов
Req.28 [+]  Подумать про отображение статуса wifi, мб трей? И как им управлять
Req.29 [+]  Прочитать документацию на возможные ивенты
Req.30 [+]  Понять, что происходит при reparenting
Req.31 [+]  Продумать алгоритм тайлинга
Req.32 [+]  Посмотреть, можно ли в Gtk Pango указать два шрифта (см. css ниже)
